/* Colors used
Background: #fafafa
Primary Black: #2A2B2A
Primary Blue: #0872B6
*/

body{
  background-color: #fafafa;
  font-family: 'Piazzolla', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #2A2B2A;
}
h1, h2, h3, h4, h5 {
  line-height: 1.2;
}
h1{
  font-size: 3.05em;
  font-weight: 900;
}
h2{
  font-size: 2.44em;
  font-weight: 700;
}
h3{
  font-size: 1.95em;
  font-weight: 900;
}
h4{
  font-size: 1.56em;
  font-weight: 700;
}
h5{
  font-size: 1.25em;
  font-weight: 900;
}
img{
  width: 100%;
}
