/* Colors used
Background: #fafafa
Primary Black: #2A2B2A
Primary Blue: #0872B6
*/

body{
  background-color: #fafafa;
  font-family: 'Piazzolla', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #2A2B2A;
}
h1, h2, h3, h4, h5 {
  line-height: 1.2;
}
h1{
  font-size: 3.05em;
  font-weight: 900;
}
h2{
  font-size: 2.44em;
  font-weight: 700;
}
h3{
  font-size: 1.95em;
  font-weight: 900;
}
h4{
  font-size: 1.56em;
  font-weight: 700;
}
h5{
  font-size: 1.25em;
  font-weight: 900;
}
img{
  width: 100%;
}
a{
  color: #0872B6;
  text-decoration: none;
}
a:visited{
  color: #2A2B2A;
}
a:hover{
  color: #cc6540;
  text-decoration: underline;
}
a:active{
  color: #994c30;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}
.button{
  display: inline-block;
  background-color: #0872B6;
  color: #fafafa;
  font-weight: 400;
  padding: 10px;
  border-radius: 2px;
  border-bottom: 2px solid #2A2B2A;
  transition: 0.2s opacity;
}
.button:hover{
  opacity: 0.8;
}
.button.contact{
  background-color: transparent;
  color: #0872B6;
  text-transform: uppercase;
  border: 2px solid #0872B6;
}
.button.contact:hover{
  background-color: #0872B6;
  color: #fafafa;
}
.button.download{
  background-color: transparent;
  color: #2A2B2A;
  text-transform: uppercase;
  border: 2px solid #2A2B2A;
}
.button.download:hover{
  background-color: #2A2B2A;
  color: #0872B6;
}

/* Layout Styling */

.container{
  padding: 0 15px;
}
.row{
  margin: 25px 0;
}
#my-projects .row{
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}
#intro h1{
  text-align: center;
}
.logo{
  max-width: 250px;
  max-height: 50px;
  text-align: center;
  padding: 10px 0;
}
nav > ul {
  list-style-type: none;
  padding: 0px;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  color: #2A2B2A;
  font-weight: 900;
}
nav {
  display: inline-block;
  width: 100%;
  background-color: #fafafa;
}
#intro {
  background-color: #fafafa;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
header {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:    0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow:         0px 5px 15px 0px rgba(0, 0, 0, 0.3);
  position: relative;
}
