/* Colors used
Background: #fafafa
Primary Black: #2A2B2A
Primary Blue: #0872B6
Font Sizes: 400 Regular, 500 Medium, 600 Semi Bold, 700 Bold
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  color: #2A2B2A;
}

h1, h2, h3, h4, h5 {
  line-height: 1.2;
}

h1 {
  font-size: 3.05em;
  font-weight: 700;
}

h2 {
  font-size: 2.44em;
  font-weight: 600;
}

h3 {
  font-size: 1.95em;
  font-weight: 700;
}

h4 {
  font-size: 1.56em;
  font-weight: 600;
}

h5 {
  font-size: 1.25em;
  font-weight: 700;
}

img {
  width: 100%;
}

a {
  text-decoration: underline;
  color: #2A2B2A;
}

a:hover, a:focus {
  color: #0872B6;
}

a:visited {
  color: #2A2B2A;
}

.button {
  display: inline-block;
  background-color: #0872B6;
  color: #fafafa;
  font-weight: 400;
  padding: 10px;
  border-radius: 2px;
  border-bottom: 2px solid #2A2B2A;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  color: #fafafa;
}

.button.email {
  background-color: transparent;
  color: #0872B6;
  text-transform: uppercase;
  border: 2px solid #0872B6;
}

.button.email:hover {
  background-color: #0872B6;
  color: #fafafa;
}
header {
  background-color: #fafafa;
  padding: 10px;
  margin: 10px;
}

/* Layout Styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0;
}
#my-projects .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #0872B6;
}
#about-me .skills-tools {
  padding-bottom: 25px;
  border-bottom: 1px solid #0872B6;
}
#about-me h1 {
  text-align: center;
}
#intro h2 {
  text-align: center;
}
.logo {
  max-width: 250px;
}
header {
  background-color: #fafafa;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #2A2B2A;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2A2B2A;
  font-size: 14px;
}
nav > ul > li > a:hover {
  color: #0872B6;
}
nav > ul > li > a:visited {
  color: orange;
}
nav > ul > li > a:active {
  color: yellow;
}
nav {
  display: inline-block;
  width: 100%;
}
#intro {
  background-color: #fafafa;
  padding: 20px 15px;
  display: inline-block;
  width: 100%;
}
#my-projects h2 {
  padding: 0 15px;
}
.social-links > ul {
  list-style-type: none;
  padding: 0;
}
.social-links > ul > li {
  display: block;
}
.social-links > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2A2B2A;
  font-size: 14px;
}
.social-links > ul > li > a:hover {
  color: #0872B6;
}
.social-links > ul > li > a:visited {
  color: orange;
}
.social-links > ul > li > a:active {
  color: yellow;
}
.button.download {
  background-color: #fafafa;
  border: 2px solid #2A2B2A;
  border-radius: 4px;
}
.button.download:hover{
  background-color: #0872B6;
  color: #fafafa;
  transition: 0.2s;
}
.boston-skyline {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@keyframes color-change {
  from {fill: #e8e8e8;}
  to {fill: #F1F435;}
}
.moon {
  animation: 4s color-change infinite alternate linear;
}
@keyframes star-grow {
  from {transform: scale(1,1);}
  to {transform: scale(1.2,1.2);}
}
.star {
  animation: 10s star-grow infinite alternate ease;
}
/* Media Queries */

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
#intro {
  text-align: center;
}
#intro h2 {
  font-size: 2em;
}
#intro span {
  display: block;
}

[class*="col-"] {
float: left;
padding: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.social-links > ul > li {
  display: inline-block;
}
.story h2 {
  text-align: center;
}
.skills-tools h2 {
  text-align: center;
}
#about-page h3 {
  margin-top: 0;
}
.button.download {
  margin-left: 34%;
  margin-right: 34%;
}
}
/* ==============================
Large devices (1024px and larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
#intro {
  text-align: center;
}
#intro h2 {
  font-size: 2em;
}
#intro span {
  display: block;
}

[class*="col-"] {
float: left;
padding: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.social-links > ul > li {
  display: inline-block;
}
.story h2 {
  text-align: unset;
}
.skills-tools h2 {
  text-align: unset;
}
.button.download {
  margin: 0;
}
}
